<p id="notice"><%= notice %></p>

<p>
  <strong>URL:</strong>
  <%= @soc_book.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @soc_book.user %>
</p>

<%= link_to 'Edit', edit_soc_book_path(@soc_book) %> |
<%= link_to 'Back', soc_books_path %>
